/*
 * The syntax dark mode styles.
 */

 @mixin light-syntax {
  --language-border-color: rgba(84, 83, 83, 0.27);
  --highlight-bg-color: rgb(255, 255, 255);
  --highlighter-rouge-color: #766cdc;
  --highlight-lineno-color: #6c6c6d;
  --inline-code-bg: #f8fdfe;
  --code-header-text-color: #6a6a6a;
  --code-header-muted-color: rgb(185, 172, 172);
  --code-header-icon-color: rgb(86, 86, 86);
  --clipboard-checked-color: #2bcc2b;
  --filepath-text-color: #bdbdbd;

  /* override Bootstrap */
  pre {
    color: #a70daf;
  }

  .highlight .gp {
    color: #819684;
  }

  .highlight .hll { background-color: #ffffcc }
  .highlight .c { color: #008000 } /* Comment */
  .highlight .err { border: 1px solid #FF0000 } /* Error */
  .highlight .k { color: #0000ff; font-weight: bold; } /* Keyword */
  .highlight .cm { color: #008000 } /* Comment.Multiline */
  .highlight .cp { color: #0000ff } /* Comment.Preproc */
  .highlight .c1 { color: #008000 } /* Comment.Single */
  .highlight .cs { color: #008000 } /* Comment.Special */
  .highlight .ge { font-style: italic } /* Generic.Emph */
  .highlight .gh { font-weight: bold } /* Generic.Heading */
  .highlight .gp { font-weight: bold } /* Generic.Prompt */
  .highlight .gs { font-weight: bold } /* Generic.Strong */
  .highlight .gu { font-weight: bold } /* Generic.Subheading */
  .highlight .kc { color: #0000ff } /* Keyword.Constant */
  .highlight .kd { color: #0000ff } /* Keyword.Declaration */
  .highlight .kn { color: #0000ff } /* Keyword.Namespace */
  .highlight .kp { color: #0000ff } /* Keyword.Pseudo */
  .highlight .kr { color: #0000ff } /* Keyword.Reserved */
  .highlight .kt { color: #2b91af } /* Keyword.Type */
  .highlight .m { color: #079907; font-weight: 500;} /* Literal.Number */
  .highlight .mf { color: #079907; font-weight: 500; } /* Literal.Number.Float */
  .highlight .mh { color: #079907; font-weight: 500; } /* Literal.Number.Hex */
  .highlight .mi { color: #079907; font-weight: 500; } /* Literal.Number.Integer */
  .highlight .mo { color: #079907; font-weight: 500; } /* Literal.Number.Oct */
  .highlight .s { color: #a31515 } /* Literal.String */
  .highlight .n { color: #000000; font-weight: 500;} /* Literal.Name */
  .highlight .nb { color: #a76412} /* Name.Builtin */
  .highlight .nc { color: #2b91af; font-weight: bold; } /* Name.Class */
  .highlight .nf { color: #a76412} /* Name.Function */
  .highlight .o { color: #07b0b0; font-weight: 500;} /* Literal.Operation */
  .highlight .ow { color: #0000ff } /* Operator.Word */
  .highlight .p { color: #000000; font-weight: 500;} /* Literal.Punctuation */
  .highlight .sb { color: #a31515 } /* Literal.String.Backtick */
  .highlight .sc { color: #a31515 } /* Literal.String.Char */
  .highlight .sd { color: #a31515 } /* Literal.String.Doc */
  .highlight .s2 { color: #a31515 } /* Literal.String.Double */
  .highlight .se { color: #a31515 } /* Literal.String.Escape */
  .highlight .sh { color: #a31515 } /* Literal.String.Heredoc */
  .highlight .si { color: #a31515 } /* Literal.String.Interpol */
  .highlight .sx { color: #a31515 } /* Literal.String.Other */
  .highlight .sr { color: #a31515 } /* Literal.String.Regex */
  .highlight .s1 { color: #a31515 } /* Literal.String.Single */
  .highlight .ss { color: #a31515 } /* Literal.String.Symbol */
}
